{{- /*
Figure out if we are creating a PDB per zone or a single PDB across all zones.
The logic here mirrors the deployment zone pattern.
*/}}
{{- if .Values.podDisruptionBudget }}

{{- if .Values.singlePdbAcrossZones }}
{{- /* Create a single PDB across all zones */}}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "nd-common.fullname" . }}
  labels:
    {{- include "simple-app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "nd-common.selectorLabels" . | nindent 6 }}
  {{ toYaml .Values.podDisruptionBudget | nindent 2 }}
{{- else }}
{{- /* Create a PDB per zone */}}

{{- /* Validate replica counts for per-zone PDBs */}}
{{- if and .Values.replicaCount (lt (.Values.replicaCount | int) 2) }}
{{- fail "Deployment replica count can not be less than 2 in order to configure PDB. Please configure Replica count greater than or equal to 2." }}
{{- end }}
{{- if and .Values.autoscaling.enabled (lt (.Values.autoscaling.minReplicas | int) 2) }}
{{- fail "Deployment autoscaling minimum can not be less than 2 in order to configure PDB. Please configure a minimum replica count greater than or equal to 2." }}
{{- end }}

{{- $deploymentZones := default (list "default") .Values.deploymentZones }}

{{- if .Values.deploymentZonesTransition }}
{{- $deploymentZones = prepend $deploymentZones "default" }}
{{- end }}

{{- $fullName := include "nd-common.fullname" . }}
{{- $deploymentZoneLabel := "" }}

{{- range $deploymentZone := index $deploymentZones }}

{{- if ne $deploymentZone "default" }}
{{- $topologyKey := required ".Values.deploymentZones requires that .Values.topologyKey is also set" $.Values.topologyKey }}
{{- $fullName = printf "%s-%s" (include "nd-common.fullname" $) $deploymentZone }}
{{- $deploymentZoneLabel = printf "%s: %s" $topologyKey $deploymentZone }}
{{- else }}
{{- $fullName = include "nd-common.fullname" $ }}
{{- $deploymentZoneLabel = "" }}
{{- end }}

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "simple-app.labels" $ | nindent 4 }}
    {{- with $deploymentZoneLabel }}
    {{ . }}
    {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "nd-common.selectorLabels" $ | nindent 6 }}
      {{- with $deploymentZoneLabel }}
      {{ . }}
      {{- end }}
  {{ toYaml $.Values.podDisruptionBudget | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
